In [41]:
import pandas as pd
from itertools import combinations

In [42]:
data = {

    'TransactionID': [1, 2, 3, 4, 5]

    ,'ItemsPurchased': ['Bread,Butter,Milk','Bread,Diaper,Beer,Milk','Milk,Diaper,Beer','Bread,Butter','Bread,Butter,Diaper,Milk']

}

In [43]:
df = pd.DataFrame(data)

In [44]:
df.head()

   TransactionID            ItemsPurchased
0              1         Bread,Butter,Milk
1              2    Bread,Diaper,Beer,Milk
2              3          Milk,Diaper,Beer
3              4              Bread,Butter
4              5  Bread,Butter,Diaper,Milk

In [45]:
all_words_rows = df['ItemsPurchased'].tolist()

In [46]:
all_word = set()
for transaction in all_words_rows:
    all_word.update(transaction.split(','))

In [47]:
df['ItemsPurchased'] = df['ItemsPurchased'].apply(lambda x : x.split(','))

In [48]:
all_words_rows = df['ItemsPurchased'].tolist()
print(all_words_rows)

[['Bread', 'Butter', 'Milk'], ['Bread', 'Diaper', 'Beer', 'Milk'], ['Milk', 'Diaper', 'Beer'], ['Bread', 'Butter'], ['Bread', 'Butter', 'Diaper', 'Milk']]

In [49]:
all_words = set()

In [51]:
for i in all_words_rows:
    for word in i:
        all_words.add(word)

In [52]:
all_words

{'Beer', 'Bread', 'Butter', 'Diaper', 'Milk'}

In [53]:
def generate_itemsets(all_words):

    all_itemsets = set()
    for x in  range(1, len(all_words)+1):
        all_itemsets.update(combinations(all_words, x))
    return(all_itemsets)

In [54]:
generate_itemsets(all_words)

{('Beer',),
 ('Bread',),
 ('Bread', 'Beer'),
 ('Bread', 'Milk'),
 ('Bread', 'Milk', 'Beer'),
 ('Butter',),
 ('Butter', 'Beer'),
 ('Butter', 'Bread'),
 ('Butter', 'Bread', 'Beer'),
 ('Butter', 'Bread', 'Milk'),
 ('Butter', 'Bread', 'Milk', 'Beer'),
 ('Butter', 'Diaper'),
 ('Butter', 'Diaper', 'Beer'),
 ('Butter', 'Diaper', 'Bread'),
 ('Butter', 'Diaper', 'Bread', 'Beer'),
 ('Butter', 'Diaper', 'Bread', 'Milk'),
 ('Butter', 'Diaper', 'Bread', 'Milk', 'Beer'),
 ('Butter', 'Diaper', 'Milk'),
 ('Butter', 'Diaper', 'Milk', 'Beer'),
 ('Butter', 'Milk'),
 ('Butter', 'Milk', 'Beer'),
 ('Diaper',),
 ('Diaper', 'Beer'),
 ('Diaper', 'Bread'),
 ('Diaper', 'Bread', 'Beer'),
 ('Diaper', 'Bread', 'Milk'),
 ('Diaper', 'Bread', 'Milk', 'Beer'),
 ('Diaper', 'Milk'),
 ('Diaper', 'Milk', 'Beer'),
 ('Milk',),
 ('Milk', 'Beer')}